.word-cloud {
  display: flex;
}

.word-cloud > * {
  margin: auto;
}

.chartjs-render-monitor {
  margin: 1.4rem 0;
}

.ui.dimmer {
  background: rgba(0, 0, 0, 0.8);
}

.ui.header.insight-menu-name {
  padding: 1rem;
  font-weight: normal;
}

.ui.large.ribbon {
  z-index: 999;
  top: 1rem;
  left: -1.2rem;
}

.ui.segment.insight-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  height: 250px;
}

.ui.segment.insight-menu-item:hover {
  box-shadow:
    0 4px 21px 0 rgba(34, 36, 38, 0.16),
    0 4px 27px 0 rgba(34, 36, 38, 0.16);
}

.ui.pointing.secondary.modal-insight-menu {
  margin: 0;
}

