.word-cloud {
  display: flex;
}

.word-cloud > * {
  margin: auto;
}

.chartjs-render-monitor {
  margin: 1.4rem 0;
}

.ui.dimmer {
  background: rgba(0, 0, 0, 0.5);
}

.ui.header.insight-menu-name {
  padding: 1rem;
  font-weight: normal;
}

.ui.huge.ribbon {
  top: 1rem;
  left: -1.7rem;
}

.ui.segment.insight-menu-item {
  padding: 4rem;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.ui.segment.insight-menu-item:hover {
  box-shadow:
    0 4px 21px 0 rgba(34, 36, 38, 0.16),
    0 4px 27px 0 rgba(34, 36, 38, 0.16);
}
