.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}

.articles {
  width: 400px;
  max-width: 400px;
  padding: 1rem;
  background: transparent !important;
}

.inherit-width {
  width: inherit !important;
  background: #ececec;
}

.menu {
  height: 100vh;
  background: #ececec;
  box-shadow: 0 0 2rem #636363;
}

.tutu-logo { margin-bottom: 6rem !important; }
.map.icon::before { font-size: 2rem; }
.icon::before { font-size: 1rem; }
