.side-menu-item-container {
  position: relative;
  width: 50vw;
  height: 100vh;
  max-width: 390px;
  background: #fff;
  box-shadow: -3px 0 1rem -3px rgba(0,0,0,0.2);
}

.article-display-button {
  position: absolute;
  top: 40%;
  left: -2.05rem;
  z-index: 100;
  display: flex;
  align-content: center;
  width: 1rem;
  height: 6rem;
  padding: 2rem 1rem;
  cursor: pointer;
  background: #fff;
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  box-shadow: -3px 3px 1rem -3px rgba(0,0,0,0.2);
}

.article-info p {
  font-size: 12px;
}

.top-btn {
  position: relative;
}

.side-bar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  box-shadow: -3px 0 1rem -3px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.62, 0.04, 0.35, 0.96);
}

.sidebar-text {
  margin-left: 1rem;
}

.thin {
  width: 75px;
}

.wide {
  width: 225px;
}

.full { display: block; }
.hidden { display: none; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.67rem;
}

.ui.header:last-child {
  color: #767676;
}

.tutu-logo {
  width: 100%;
  margin-top: 0 !important;
}

.ui.header.tutu-logo {
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: #222;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 26px;
}

.side-menu i {
  font-size: 1.35rem;
}

.side-menu a {
  display: flex;
  align-items: center;
  width: 200px;
  color: #1b272b;
}

.side-menu a:not(:last-child) {
  margin-bottom: 1.4rem;
}

.popular {
  display: flex;
  width: 100%;
  padding-left: 26px;
}

.top-places {
  display: flex;
  width: 100%;
  padding-left: 26px;
}

.label {
  position: relative;
  margin: 0 0 1rem;
  font-size: 0.8rem;
  color: #969696;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.tutu-logo,
.sidebar-text,
.label {
  transition: all 0.2s ease-in-out;
}

i.darkgrey.icon {
  padding: 0;
}

.help-button {
  cursor: pointer;
}

.ui.dimmer > .content {
  display: flex;
}

.ui.dimmer > .content > * {
  margin: auto;
  text-align: left;
}

.ui.list > .item > i.icon {
  padding-right: 0;
}
