.side-menu-item-container {
  position: relative;
  width: 50vw;
  height: 100vh;
  max-width: 390px;
  background: #fff;
  box-shadow: -3px 0 1rem -3px #1b272b;
}

.article-display-button {
  position: absolute;
  top: 40%;
  left: -2rem;
  z-index: 100;
  display: flex;
  align-content: center;
  width: 1rem;
  height: 6rem;
  padding: 2rem 1rem;
  cursor: pointer;
  background: #fff;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  box-shadow: -3px 3px 1rem -3px #1b272b;
}

.article-info p {
  font-size: 12px;
}

.side-bar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ececec;
  box-shadow: -3px 0 1rem -3px #666;
  transition: all 0.4s cubic-bezier(0.56, 0.21, 0.38, 1.55);
}

.sidebar-text {
  margin-left: 1rem;
}

.thin {
  width: 75px;
}

.thin-component {
  width: 25vw;
}

.wide {
  width: 225px;
}

.full { display: block; }
.hidden { display: none; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0.67rem;
}

.ui.header:last-child {
  color: #767676;
}

.tutu-logo {
  margin-top: 0 !important;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 26px;
}

.side-menu i {
  font-size: 1.35rem;
}

.side-menu a {
  display: flex;
  align-items: center;
  width: 200px;
  color: #1b272b;
}

.side-menu a:not(:last-child) {
  margin-bottom: 1.4rem;
}

.popular {
  display: flex;
  width: 100%;
  padding-left: 26px;
}

.top-places {
  display: flex;
  width: 100%;
  padding-left: 26px;
}

.label {
  position: relative;
  margin: 0 0 1rem;
  font-size: 0.8rem;
  color: #969696;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.tutu-logo,
.sidebar-text,
.label {
  transition: all 0.2s ease-in-out;
}

i.grey.icon {
  padding: 0;
}
