[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"newspaper3k" = "*"
requests = "*"
"beautifulsoup4" = "*"
xmltodict = "*"
python-dotenv = "*"
pandas = "*"
langdetect = "*"
fake-useragent = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
socketio-client = "*"
rethinkdb = "*"
sumy = "*"
matplotlib = "*"
aylien-apiclient = "*"
date-extractor = "*"
htmldate = "*"
nltk = "*"
chardet = "*"
certifi = "*"
idna = "*"
twython = "*"
stop-words = "*"
concepts = "*"
proxybroker = "*"
asyncio = "*"
similar-text = "*"
dateguesser = {git = "https://github.com/ColCarroll/date_guesser"}
date_guesser = {git = "https://github.com/ColCarroll/date_guesser"}


[requires]

python_version = "3.6"
