.sidebar-container {
  height: 100vh;
}

.ui.sidebar.visible ~ .pusher {
  width: calc(100% - 150px);
}

.sidebar-children {
  width: 100%;
  height: 90vh;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
