/* .in-front {
  position: fixed;
  z-index: 10;
  height: 100vh;
  background: #fff !important;
  border-right: 1px solid #aaa !important;
  border-radius: 0 !important;
  box-shadow: 0 0 12px #343841 !important;
} */

#root div.app-container-column {
  padding-right: 0;
  padding-bottom: 0;
}

#root div.sidebar-container-column {
  padding-bottom: 0;
}

.app-container {
  width: 100%;
  height: 100vh;
}
