.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.try-this {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.try-this > * {
  margin: auto;
}

.tutu-logo {
  width: 15%;
}

form {
  width: 30vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 7px 24px #68686841;
}

.pushable > .pusher {
  background-color: #ececec;
}

.login-form > * {
  margin: auto;
}
