.pop-scrollable-section {
  height: 96%;
  min-width: 288.42px;
  padding: 2rem 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

.row { align-items: flex-start !important; }
.article-item { padding: 0 !important; }
.article-info { height: 100%; }
.article-info p { text-align: justify; }

.pop-segment-container {
  height: 100vh;
  padding-right: 1px !important;
  margin-right: 0;
}
