.input-label {
  font-size: 0.8rem;
  color: #767676;
}

.timewindow-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.7rem;
  color: #767676;
}

.popular-container {
  display: flex;
}

.popular-in-container {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}

.popular-top-container {
  display: flex;
  flex-direction: column;
}

.dropdown.icon.half-width {
  width: 70%;
}

.dropdown.icon.button.little-width {
  width: 55%;
  padding-left: 3rem !important;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu.visible {
  max-height: 200px;
  overflow-y: auto;
}

.filter-segment-container {
  height: 100vh;
  padding-right: 1px !important;
  margin-right: 0;
}

.filter-scrollable {
  height: 96%;
  min-width: 288.42px;
  padding-right: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

.filter-datepicker-wrapper,
.filter-datepicker,
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.save-button-filter {
  margin-right: 8px !important;
}
