.submit-field {
  width: 100%;
  margin-bottom: 1rem;
}

.submit-field > input {
  border-radius: 100px !important;
}

.ui.message {
  margin: 4rem 0;
}

.submit-segment-container {
  height: 100vh;
  padding-right: 1px !important;
  margin-right: 0;
}

.submit-scrollable-section {
  height: 96%;
  min-width: 288.42px;
  padding: 2rem 14px;
  overflow-x: hidden;
  overflow-y: auto;
}
