.news-menu {
	width: 400px;
	position: fixed;
	top: 9%;
	right: 120px;
	background: #fff !important;
	box-shadow: 0px 0px 12px #343841 !important;
}

.news-menu-items:hover {
	background: #e7e7e7 !important;
}

.bleed {
	display: flex;
	height: 100px;
	padding: 1rem;
	background: #464c58;
	align-items: center;
}

.bottom-bleed {
	height: 150px;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.datepicker-button {
	color: #fff !important;
	background: #f25100 !important;
	border-radius: 100px !important;
}

.react-datepicker {
	display: flex !important;
}