.NewsMenu {
	width: 400px;
	position: fixed;
	top: 9%;
	right: 120px;
	background: #fff !important;
	box-shadow: 0px 0px 12px #343841 !important;
}

.NewsMenuItems:hover {
	background: #e7e7e7 !important;
}

.Bleed {
	display: flex;
	height: 100px;
	padding: 1rem;
	background: #464c58;
	align-items: center;
}