.UpperBleed {
	display: flex;
	width: 100vw;
	height: 240px;
	margin-bottom: 2rem;
	background-color: #343841;
	align-items: center;
}

.SearchBar {
	width: 500px !important;
	padding-right: 9rem !important;
	margin-left: 120px;
}

.MarginLeft {
	margin-left: 120px;
}

.MarginBottom {
	margin-bottom: 2rem !important;
}