[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

scikit-learn = "*"
pandas = "*"
numpy = "*"
scipy = "*"
rethinkdb = "*"
nltk = "*"
stop-words = "*"
matplotlib = "*"
htmldate = "*"
requests = "*"

[dev-packages]



[requires]

python_version = "3.6"
