body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: sans-serif;
  cursor: default;
  background: #f4f4f4;
}

#nprogress .bar {
  width: calc(100% - 75px) !important;
  height: 3px !important;
  background: #f25100 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f25100, 0 0 5px #f25100 !important;
}

