.about-section-info {
  padding: 1rem !important;
}

.tutu-description {
  font-size: 1;
  font-style: italic;
  font-weight: 300;
  color: #444;
  text-align: justify;
}

.social-media {
  margin-bottom: 2.3rem;
}

.social-media i {
  padding-right: 2.4rem;
}

.member-names {
  font-style: italic;
}

.member-names .list .item {
  padding: 0.5rem 0;
}

@media screen and (min-width: 1367px) {
  .tutu-description {
    font-size: 1.3rem;
  }
}
