.scrollable-section {
  height: 90vh;
  padding-top: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.source-name {
  padding: 1rem 0 !important;
  font-size: 0.86rem;
  color: #767676;
}

.row { align-items: flex-start !important; }
.article-item { padding: 0 !important; }

@media screen and (min-width: 1367px) {
  .scrollable-section {
    height: 100vh;
  }
}
