.rec-scrollable-section {
  height: 96%;
  min-width: 288.42px;
  padding: 2rem 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

.source-name {
  padding: 1rem 0 !important;
  font-size: 0.86rem;
  color: #767676;
}

.ui.header.article-title {
  font-size: 1.141592654rem;
}

.ui.grid.article-item-container {
  min-height: 180px;
}

.row { align-items: flex-start !important; }
.article-item { padding: 0 !important; }
/*
@media screen and (min-width: 1367px) {
  .scrollable-section {
    height: 100vh;
  }
} */

.rec-segment-container {
  height: 100vh;
  padding-right: 1px !important;
  margin-right: 0;
}
