.cluster-marker-container {
  display: flex;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border: 5px solid #f25100;
  border-radius: 100%;
}

.cluster-marker-container > p {
  margin: auto;
  font-size: 1.7rem;
}

.simple-marker {
  min-height: 185px;
  text-align: left;
}

.simple-marker-title {
  font-size: 1.1rem !important;
}

.marker-title-column {
  padding-right: 2rem !important;
  padding-left: 0 !important;
}

.popup-container {
  max-width: 324px !important;
  min-height: 100px;
}

.hovered {
  left: -27px !important;
}

.marker {
  position: absolute;
  bottom: 1px;
  left: -13.5px;
  transition: all 0.1s ease-in-out;
}

.tippy-tooltip {
  top: -2rem;
  left: 0.5rem;
  background: #fff;
  box-shadow: 0 0 3px #94989b;
}

.arrow-regular {
  border-right-color: #fff !important;
}

.cluster-marker-container {
  position: absolute;
  top: -3rem;
  left: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  /* background-color: darksalmon; */
  border-radius: 50px;
}

.author-date-container {
  margin: 0 0 0.44rem;
  color: #a4a4a4;
}

.author-name {
  font-size: 0.9rem;
}

.article-summary {
  margin: 0 0 1.3rem;
}

.tooltip-author {
  font-size: 12px;
  color: #a4a4a4;
}

.tooltip-related-article {
  font-size: 1.1rem !important;
}

.ui.circular.label {
  min-width: 100px;
  margin: 0;
}

.read-more-button {
  position: absolute;
  right: 7px;
  bottom: 7px;
}

.favicon-container {
  width: 5% !important;
}

.cluster-list-container {
  max-height: 365px;
  overflow-x: hidden;
  overflow-y: auto;
}

.cluster-list-container:last-child {
  margin-bottom: 2.8rem !important;
}

.cluster-article-container {
  display: flex !important;
  align-items: center;
  text-align: left;
}

.article-title-container {
  padding-left: 1rem;
}

.article-date,
.article-tags {
  margin: 0.6rem 0;
  font-size: 12px;
  color: #767676;
}

.see-more-button {
  padding: 1rem !important;
  text-align: center;
}

/* MODAL ARTICLE CONTAINER */
.modal-container {
  padding: 0.5rem;
}

.modal-article-container {
  display: flex;
  align-items: flex-start;
}

.news-label {
  position: absolute !important;
  left: -1rem !important;
  z-index: 1000;
}

.news-marker-tooltip {
  top: 1.4rem;
  left: -2rem;
}

.sentiment-list {
  display: inline;
  list-style: none;
}
.reactions {
  width: 3rem;
  padding: 0 !important;
  margin: 0 !important;
}

.accordion-container {
  padding-bottom: 1rem;
}

.ui.header {
  margin: 0;
}

/* remove accordion padding */
.ui.accordion .title:not(.ui) {
  padding: 0;
}

/* cluster modal articles */

.image-tag-title-container {
  display: flex;
}

.ui.header.news-title {
  font-size: 1.1rem;
}

.top-image {
  width: 100%;
}

.tags {
  width: 100%;
  padding: 0 0 0 1rem;
}

.tag-label {
  margin-right: 0.5rem !important;
}

.article-read-more {
  position: absolute;
  right: 3%;
  bottom: 4%;
}

.extras {
  display: flex;
  justify-content: space-between;
}
