.mapview-container {
  width: 100%;
  height: 100%;
}

.simple-marker-container {
  position: absolute;
  right: 2em;
  bottom: 3.9em;
  width: 100%;
  height: 100%;
  background-color: red;
}

.simple-marker-image {
  height: 127px !important;
}

.simple-marker-description {
  width: 600px;
}

.cluster-marker-container {
  width: 2rem;
  height: 2rem;
  background-color: darksalmon;
  border-radius: 50px;
}
